body {
	background-color: #758a99;
    margin: 10px 20px;
}
h1{
    font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #1c2a35;
}
h2{
    font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #1c2a35;
}
h3{
    color: #1c2a35;
}
img{
    border: 3px solid #355064;
}
address{
    color: #1c2a35;
}
#Einstein{
    height: 300px;
    width: 400px;
}
#Iam{
    height: 300px;
}
.pics{
    height: 200px;
    width: 300px;
    margin-right: 150px;
    margin-left: 150px;
}